# See http://help.github.com/ignore-files/ for more about ignoring files.

# env
.env
.env.local
.env.production

# compiled output
dist
generated

# dependencies
node_modules

# IDE
.vscode/
.idea/
.project
.classpath
*.launch
*.sublime-workspace

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# misc
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
